<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <title>PatientLink - Dashboard</title>
</head>
<body>
    <nav class="navbar background-color-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="images/icon-pill.png" alt="">
                </a>
                <ul class="nav navbar-nav">
                    <li><p class="h3 font-white" href="/">Patient<strong>Link</strong></p></li>
                </ul>
            </div>
            <ul class="nav navbar-nav center-staff-nav">
                <li class="active"><a href="/medicalStaffCreateUser"><p class="h4 font-white">Create User</p></a></li>
            </ul>
            <a class="navbar-brand pull-right" href="/">
                <img src="images/icon-logout.png" alt="">
            </a>
            <p class="h3 pull-right font-white padding-right"><strong>wilr.stephens@gmail.com</strong></p>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <p class="h1">Medical Staff Dashboard</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="height:150px"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a href="/medicalStaffCreateUser"><img class="image-responsive center-block" src="images/icon-patient-desktop.png" alt=""></a>
            <p class="text-center icon-text">Create User</p>
        </div>
    </div>
</body>
</html>