<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <title>PatientLink - Dashboard</title>
</head>
<body>
    <nav class="navbar background-color-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="patientDashboard">
                    <img src="images/icon-pill.png" alt="">
                </a>
                <ul class="nav navbar-nav">
                    <li><p class="h3 font-white" href="patientDashboard">Patient<strong>Link</strong></p></li>
                </ul>
            </div>
                <ul class="nav navbar-nav center-nav">
                    <li class="active"><a href="/patientRegistration"><p class="h4 font-white">Patient Registration</p></a></li>
                    <li><a href="#"><p class="h4 font-white">Appointment Scheduler</p></a></li>
                    <li><a href="#"><p class="h4 font-white">Prescription Manager</p></a></li>
                </ul>
            <a class="navbar-brand pull-right" href="/">
                <img src="images/icon-logout.png" alt="">
            </a>
            <p class="h3 pull-right font-white padding-right"><strong>Ivan.cardenas@dsiglobal.com</strong></p>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <p class="h1">Patient Dashboard</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="height:150px"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <a href="/patientRegistration"><img class="image-responsive center-block" src="images/icon-patient-desktop.png" alt=""></a>
            <p class="text-center icon-text">Patient Registration</p>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a href="/"><img class="image-responsive center-block" src="images/icon-appt-desktop.png" alt="" style="padding:20px"></a>
            <p class="text-center icon-text">Appointment Scheduler</p>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <a href="/"><img class="image-responsive center-block" src="images/icon-presc-desktop.png" alt="" style="padding:25px"></a>
            <p class="text-center icon-text">Prescription Manager</p>
        </div>
    </div>
</body>
</html>